* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    margin:0px;
    padding:0px;
}

/* Portrait layout (default) */
.app {
    background:url(../img/golf-ball-m.png) no-repeat center top; /* 170px x 200px */
    text-align:center;
    margin:20px 0px;
}
a {
    padding: 5px;
}	
.event {
    color: #333333;
    font-size:8px;
    margin:1px 1px;
    padding:1px 1px;
    display:none;
}
.event.good {
	width: 80px;
    background-color:#FFFFFF;
}

.event.bad {
	width: 140px;
    background-color: #FF4965;
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.errorMsg {
    font-size:8px;
    color: #FF4965;
}
h1 {
    font-size:24px;
    font-weight:bold;
    margin:20px 0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.rowHead {
    font-weight:bold;
}
.row {
    padding: 3px;
}
.waiting{
	position: absolute;
	top: 40%;
	left: 20%;
	padding: 50px;
	text-align: center;
    background: lightgrey;
    border: 2px solid #8F8A83; 
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
